[type="checkbox"].reset-checkbox,
[type="checkbox"].reset-checkbox:checked,
[type="checkbox"].reset-checkbox:not(checked) {
  opacity: 1;
  position: relative;
}

[type="checkbox"].reset-checkbox+span::before,
[type="checkbox"].reset-checkbox+span::after,
[type="checkbox"].reset-checkbox:checked+span::before,
[type="checkbox"].reset-checkbox:checked+span::after {
  display: none;
}

[type="checkbox"].reset-checkbox+span:not(.lever) {
  padding-left: 10px;
}

.dropdown-content li a {
  font-size: 1rem;
}


.leaflet-popup-content .dropdown-trigger {
  outline: none;
}

.leaflet-popup-content .dropdown-content {
  min-width: auto !important;
}

.leaflet-popup-content .dropdown-content li a {
  font-size: 1rem;
  padding: 15px 17px;
}

.leaflet-popup-content .dropdown-content li > a > i {
    margin: 0 0 0 0 !important;
    font-size: 20px;
}

.leaflet-popup-content .popup-dropdown-trigger {
  cursor:pointer;
  color:#c3c3c3 !important;
}

.leaflet-popup-content .popup-dropdown-trigger:hover {
  color: #999 !important;
}

#popup_dropdown li{
  background-color: #fff !important;
}

#popup_dropdown li:hover{
  background-color: #f8f8f8 !important;
}

#popup_dropdown li a {
  color: #888 !important;
}

#navbar {
  box-shadow: 0 1px 5px rgb(0 0 0 / 40%) !important;
  border: none !important;
  z-index: 1000 !important;
}

#nav-avatar {
  margin-top: 7px;
}

@media screen and (min-width: 601px) {
  #nav-avatar {
    margin-top: 10px;
  }
}
